{# src/Boodcode/FranceBundle/Resources/views/Default/contact.html.twig #}

{% extends "BoodcodeFranceBundle::layout.html.twig" %}

{% block title %} À propos | {{ parent() }}{% endblock %}
{% block body %}    
	<div class="container-fluid">
		<h2>A propos</h2>
		<h3>Formations</h3>
		<ul>
			<li>BAC+4 ESAM - Ecole Supérieure des Arts Modernes - Graphiste Publicitaire</li>
		</ul>
		<h3>Secteurs d'activité</h3>
			<ul>
				<li>Communication Évènementielle</li>
				<li>Communication Institutionnelle</li>
				<li>Luxe, Banques, Finance, Assurances...</li>
				<li>B to B</li>
			</ul>

		<h3>Compétences</h3>
		<ul class="col_3">
			<li>Identité visuelle</li>
			<ul>
				<li>Charte graphique, Image de marque, cahier de style.</li>
				<li>Création de Thèmes Microsoft Powerpoint & Word</li>
			</ul>
			</ul>
		</ul>
		<ul class="col_3">
			<li>Edition / Print</li>
			<ul>
				<li>Magazine, brochure, presse</li>
				<li>Plaquettes commerciales, affiches, catalogues</li>
				<li>Annonces presse</li>
				<li>Chemises, kits pochette, illustrations, dessins ...</li>
			</ul>
		</ul>
		<ul class="col_3">
			<li>Communication Evénementielle </li>
			<ul>
				<li>Affiches</li>
				<li>Cahiers de style de stand, création de stands, stands parapluie, habillage stands, dessins en perspective</li>
				<li>Habillage tentes, recovering véhicules, kakemonos</li>
				
			</ul>
		</ul>

		<h3>Points forts</h3>
		<ul>
			<li>Travail en équipe, facilité d’adaptation </li>
			<li>Très bonne analyse des besoins à mettre en place  pour les projets</li>
			<li>Dessin d’ébauche</li>
			<li>Très bonne connaissance de la chaîne graphique</li>
			<li>Suivi BAT, réalisation des fichiers techniques et calage machine chez l’imprimeur</li>
			<li>Tablette graphique</li>
		</ul>

		<h3>Logiciels</h3>
		<ul>
			<li>Suite Adobe CS5-CS6 <span class="note_4sur4"></span>
			<li>Adobe Indesign, XPress <span class="note_4sur4"></span>
			<li>Adobe Photoshop, Adobe Illustrator <span class="note_4sur4"></span>
			<li>Microsoft Powerpoint <span class="note_3sur4"></span>
			<li>Microsoft Word & Excel <span class="note_2sur4"></span>
		</ul>

	

		<h3>Langues</h3>
		<ul>
			<li>Espagnol <span class="note_4sur4"></span>
			<li>Anglais <span class="note_2sur4"></span>
		</ul>

		<h3>Centres d'intérêt</h3>
		<ul>
			<li>Dessin en atelier professionnel, art, design, décoration, mode, musée, tendance, cinéma, cuisine, voyages.</li>
		</ul>



	</div>
{% endblock %}